/* Google Fonts Link */
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');


* {
    font-family: "Poppins", sans-serif;
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    /* Colors */
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #3b141c;
    --secondary-color: #f3961c;
    --light-pink-color: #faf4f5;
    --medium-gray-color: #ccc;

    /* Font size */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* Font weight */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /* Site max width */
    --site-max-width: 1300px;
}

html {
    scroll-behavior: smooth;
}

/* Stylings for whole site */
button {
    cursor: pointer;
    background: none;
    border: none;
}

img {
    width: 100%;
}

.section-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);

}

header {
    background-color: var(--primary-color);
    width: 100%;
    position: fixed;
    z-index: 5;

}


.navbar .nav-logo .logo-text {
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);


}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    color: var(--white-color);

    border-radius: var(--border-radius-m);
    font-size: var(--font-size-m);
    transition: 0.2s ease;
}

.navbar .nav-menu .nav-link:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.navbar :is(#menu-open-button, #menu-close-button) {
    display: none; /* Hidden by default */
}

/* header */
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}

.banner-section {
    background-color: var(--primary-color);
    min-height: 100vh;
}


.banner-section .section-content {
    display: flex;
    color: var(--white-color);
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.first-details .buttons {
    display: flex;
    gap: 23px;

}

.first-details .buttons .button {
    color: var(--primary-color);
    border-radius: var(--border-radius-m);
    padding: 10px 26px;
    background-color: var(--secondary-color);
    font-weight: var(--font-weight-medium);
    border: 2px solid transparent;
    transition: 0.3s ease;
}

.first-details .buttons .button:hover,
.first-details .buttons .button.contact-now {
    color: var(--white-color);
    background-color: transparent;
    border-color: var(--white-color);

}

.first-details .buttons .button.contact-now:hover {
    color: var(--primary-color);
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
    border: 2px solid transparent;
}
 
  
.section-content .first-details .title {
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
    font-family: "Miniver", sans-serif;
}

.section-content .first-details .subtitle {
    font-size: var(--font-size-xl);
    margin-top: 8px;
    max-width: 70%;
    font-weight: var(--font-weight-semibold);
}

.section-content .first-details .descrption {
    font-size: var(--font-size-m);
    margin: 24px 0 40px;
    max-width: 70%;
}

.section-content .second-image-wrapper {

    max-width: 500px;
    margin-right: 30px;
}
.navbar .nav-menu.show-mobile-menu {
    left: 0; /* Show menu when class is added */
}
@media screen and (max-width:900px) {
    :root {
        /* Font size */

        --font-size-m: 1rem;
        --font-size-l: 1.3rem;
        --font-size-xl: 1.5rem;
        --font-size-xxl: 1.8rem;

    }
    /* body.show-mobile-menu header::before {
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.2);
    } */
    .navbar :is(#menu-open-button, #menu-close-button) {
        font-size: var(--font-size-l);
        display: block;
      }
    

    .navbar #menu-close-button {
        position: absolute;
        right: 30px;
        top: 30px;

    }
    .navbar #menu-open-button {
         color: var(--white-color);

    }
    .navbar .nav-menu {
        display: block;
        background-color: var(--white-color);
        color: var(--primary-color);
        position: fixed;
        left:-300px;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        transition: left 0.2s ease;

    }

    /* body.show-mobile-menu .navbar .nav-menu {
        left: 0;
    } */

    .navbar .nav-menu .nav-link {
        color: var(--dark-color);
        font-size: var(--font-size-l);
        margin-top: 17px;
        display: block;

    }

    .banner-section .section-content{
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        gap: 50px;
        padding: 30px 20px 20px;

    }
    .banner-section .section-content :is(.subtitle,.descrption){
        max-width: 100%;
    }
    .banner-section .second-image-wrapper{
        width: 270px;
        margin-right: 0;
        margin-top: 50px;
    }
    .banner-section .buttons{
       justify-content: center;
    }
}